/* $Id: admin.css,v 1.1 2010/11/10 08:40:51 zhangtaihao Exp $ */

#uuid-resolver-overview-table {
  width: 100%;
}

#uuid-resolver-overview-table tr.disabled td {
  color: #CCC;
}

#uuid-resolver-actions {
  text-align: right;
}
